---
layout: default
---

<div class="home">

  <h1 class="page-heading">{% include translate.html text="news_title" %}</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
    {% if post.lang == page.lang %}
      <li>
        <span class="post-meta">{% include translated_date.html date=post.date format=site.date_format %}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">{% include translate.html text="subscribe" %} <a href="{{ "/feed.xml" | relative_url }}">{% include translate.html text="via" %} RSS</a></p>

</div>
